<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark-bg navbar-custom">
  <div class="container-fluid">
    <%= link_to "Alpha blog", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if logged_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Users', users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Articles', articles_path, class: "nav-link" %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to 'Categories', categories_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Your Profile <%= "Admin" if current_user.admin? %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Article", new_article_path, class: "dropdown-item" %></li>
              <li><%= link_to 'Edit your profile', edit_user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to 'View your profile', user_path(current_user), class: "dropdown-item"  %></li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', logout_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        </ul>
        
        <!-- CAJA DE BUSQUEDA Y BOTON
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->

      <% else %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Users', users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Articles', articles_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Log in', login_path, class: "nav-link" %>
          </li>
        </ul>        
      <% end %>
    </div>
  </div>
</nav>
